<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h2>Log in</h2>
    <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="UQGGBMW/1cClyVRbpQkf1X7XoNSMeu8Fwn4jUZBX4PdF0RhgyZ994q1Cu6IGj7dhZrBMA0IqpeObAhIkwP9iMw==">
      <div class="form-inputs">
        <div class="input email optional user_email"><label class="email optional" for="user_email">Email</label><input class="string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email"></div>
        <div class="input password optional user_password"><label class="password optional" for="user_password">Password</label><input class="password optional" type="password" name="user[password]" id="user_password"></div>
        <div class="input boolean optional user_remember_me"><input value="0" type="hidden" name="user[remember_me]"><label class="boolean optional checkbox" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember me</label></div>
      </div>
    
      <div class="form-actions">
        <input type="submit" name="commit" value="Log in" class="btn">
      </div>
    </form>
    <a href="/users/sign_up">Sign up</a>
    <br>
    <a href="/users/password/new">Forgot your password?</a>
    <br>

  </body>
</html>