<!DOCTYPE html>
<html>
  <head>
    <link href="/layout/styles/counseling.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <title> 상담소 </title>

    <!-- Bootstrap core CSS -->

    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->

    <link href="bootstrap-3.3.2-dist/css/jumbotron.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="tb">
      <h1>상담소</h1>
      <p> 연애에 대한 이모저모</p>
      <table class="table">
      <th class="th num">번호</th>
      <th class="th category">카테고리</th>
      <th class="th title">제목</th>
      <th class="th nickname">닉네임</th>
      
      
      </table>
    </div> 
    
     <div>
        <a href="/home/new"><button class="fun-btn court_b">등록하기</button></a>
      </div>
  </body>
 
</html>
