<div class="wrapper row3">
  <footer id="footer" class="hoc clear">
    <div class="one_third">
      <h6 class="title">Turpis in elementum</h6>
      <p class="btmspace-30">Eget turpis cras cursus dolor sit amet lectus pretium ut consequat.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </footer>
</div>
</div>