<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">
 <link href="/layout/styles/court.css" rel="stylesheet" type="text/css">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container" style="margin-left:10rem; margin-right:10rem; padding:50px;" >
    

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
         
          <h1>Post Title</h1>&nbsp&nbsp&nbsp<i class="fa fa-tag"></i> <%=@a_view.category %>    
          <hr>       
          <!-- Author -->
          <p class="lead">
            
          <!--<h3 class="mt-4">해쉬태그</h3>-->
            #<a href="#">연애</a>
          </p>

          <!--<hr>-->

          <!-- Date/Time -->
          <p>Posted on January 1, 2018 at 12:00 PM</p>

          <hr>
          
          <!-- Post Content -->
          <p class="lead">게시글내용 :안녕하세요.</p>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/images/disagree.png" style="vertical-align:middle;" alt="">
    
          <hr>


          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

          <hr>

          <!-- Comments Form -->
          <div class="card my-4 opinion">
            <div class="card opinion1">
              <h5 class="card-header">검사측 의견:</h5>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" style="width:300px; height:100px;" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">등록하기</button>
              </div>

              <!-- Single Comment -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                  <button class="btn btn-primary"data-dismiss="model" type="button">추천 <i class="fa fa-thumbs-up"></i></button>
              </div>

            </div>
            
            <div class="card opinion2">
              <h5 class="card-header">변호사측 의견:</h5>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" style="width:300px; height:100px;" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit></button>
                  <button class="btn btn-primary"data-dismiss="model" type="button">추천
                  <i class="fa fa-thumbs-up"></i></button>
                </form>
              </div>
              
              <!-- Single Comment -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
              
            </div>
            
          </div>

        </div>

 

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
