<!DOCTYPE html>
<html>
  <head>
    <link href="/layout/styles/review.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <title> 상담소 </title>

    <!-- Bootstrap core CSS -->

    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->

    <link href="bootstrap-3.3.2-dist/css/jumbotron.css" rel="stylesheet">
  </head>
  
  <body>
      
      <a class=sver><img src="/images/serviceerror.png"></a>
  </body>
  
  
</html>