.group{
    display: flex;
    flex-wrap: wrap;
}

.border1{
    border-color:pink;
    border-style:none;
    border-top-left-radius: 0.5em; 
    border-top-right-radius: 0.5em; 
    border-bottom-right-radius: 0.5em; 
    border-bottom-left-radius: 0.5em; 
}

.first{
    margin-left: 1rem;
}

.l_box {
    margin-top: 3rem;
}

.s_box {
    margin: 1rem;
}
/* 이미지 위에 찬/반 수 띄우기 */
h1.an, h1.dn {
    position: relative;
    font-weight: bold;
    color: white;
    display: inline-block;
    border: 1px solid hotpink;
    border-radius: 10px;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    background-color: hotpink;
    top: 140px;
}

h1.an {
    left: 37px;
}

h1.dn {
    left: 178px;
}

h1.awin {
    top: 150px;
    left: 38px;
}

h1.alose {
    top: 135px;
    left: 37px;
}

h1.dlose {
    top: 135px;
    left: 172px;
}

h1.dwin {
    top: 150px;
    left: 172px;
}
