    /*게시글 상세페이지 */
div.opinion {
    display: flex;
}

h1{
	display:inline-block;
	margin-top: 2rem;
	font-size: 2.5rem;
}

h5.card-header {
    padding-top: 10px;
}

.media.mb-4 {
    margin-top: 20px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
    margin: 0.5rem;
}

.c_form {
    display: flex;
}

.c_input {
    width: 80%;
    height: 72px;
}

.c_submit {
    margin: 0 0 0 0.5rem;
}

.vote {
    display: flex;
}