<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <!--템플릿 관련-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  
   <!--Custom styles for this template -->
  <link href="/layout/styles/index.css" rel="stylesheet">
  <script>
    function login_check(){
      <% if user_signed_in? %>
      <% else %>
        alert("로그인을 해야 이용하실 수 있습니다.");
        return false;
      <% end %>
    }
  </script>
  
</head>
<body>
 
  <!--nav바-->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <a href="/"><img src="/images/logo.png"></a>
        
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <% if user_signed_in? %>
            <li><strong><i class="fa fa-user"></i> MyPage</strong></li>
            <li><strong><a href="/users/sign_out" data-method="delete"><i class="fa fa-sign-out"></i> Logout</a></strong></li>
          <% else %>
            <li><strong><a href="/users/sign_in"><i class="fa fa-sign-in"></i> Login</strong></a></li>
          <% end %>
        </ul>
      </div>
    </header>
  </div>
  
  <div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li><a href="/home/court" style="text-align:center" onclick="return login_check();">재판소</a></li>
        <li><a href="#" style="text-align:center">재판결과</a></li>
        <li><a href="/home/review" style="text-align:center">재판후기</a></li>
        <li><a href="/home/counseling" style="text-align:center">상담소</a></li>
      </ul>
    </nav>
  </div>

<%= yield %>
</body>
</html>
