<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <!--템플릿 관련-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  
  
</head>
<body>
 
  <!--nav바-->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <a href="/"><img src="/images/logo.png"></a>
      </div>
      <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
          <li><strong>MyPage</strong></li>
          <li><strong><i class="fa fa-user"></i> Login</strong></li>
        </ul>
      </div>
    </header>
  </div>
  
  <div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li><a href="#" style="text-align:center">재판소</a></li>
        <li><a href="#" style="text-align:center">재판결과</a></li>
        <li><a href="#" style="text-align:center">재판후기</a></li>
        <li><a href="#" style="text-align:center">상담소</a></li>
      </ul>
    </nav>
  </div>

<%= yield %>
</body>
</html>
